.bg-rope {
  background-image: url("ropes/11.jpeg");
}
.btn-rounded {
  border-radius: 20%;
}
.img-rounded {
  border-radius: 50%;
}
.spill-out {
  position: relative;
  left: 100px;
  top: 35px;
}
.spill-out-more {
  position: relative;
  left: 150px;
  top: 150px;
}
.bg-card {
  background-color: darkgrey;
}

.empty-row {
  min-height: 30vh;
  border-bottom: 5px solid rgb(32, 31, 31);
}
